.edit-incom-forom{
     display: flex;
    flex-direction: column;
    gap: 0.5em;
    box-shadow: 1px 1px 1px rgb(215, 214, 214) ;
    height: fit-content;
    padding: 1.5em;
    margin-top: 1em;
    border-radius: 3px;
    margin-left: 1em;
    width: 500px;
    background-color: white;
}
.edit-incom-forom input{
    background-color: rgba(223, 241, 229, 0.942);;
    padding: 0.9em;
    outline: none;
    border: none;
    border-radius: 3px;
}
.edit-incom-forom select{
    background-color: rgba(223, 241, 229, 0.942);;
    padding: 0.9em;
    min-width: 200px;
    outline: none;
    border: none;
    border-radius: 3px;
}
.edit-incom-forom label{
    margin-top: 1em;

}
button{
    width: fit-content;
   
   
}
.edit-incom-forom button{
    border: none;
    padding: 0.5em;
    border-radius: 0.3em;
    background-color: rgba(0, 128, 0, 0.805);
    color: white;
}