.forms-wraper{
    display: flex;
    gap: 1.5em;
}
.add-incom-form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    box-shadow: 1px 1px 1px rgb(215, 214, 214) ;
    height: fit-content;
    padding: 1.5em;
    margin-top: 1em;
    border-radius: 3px;
    margin-left: 1em;
    width: 500px;
    background-color: white;
}
.add-incom-form input{
    background-color: #c4eaee93;
    padding: 0.9em;
    outline: none;
    border: none;
    border-radius: 3px;
}
.add-incom-form select{
    background-color: #c4eaee93;
    padding: 0.9em;
    min-width: 200px;
    outline: none;
    border: none;
    border-radius: 3px;
}
.add-incom-form label{
    margin-top: 1em;

}
button{
    width: fit-content;
    background-color: #199aa9;
    color: white;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
}
.catagory-add{
    display: flex;
    justify-content: space-between;
}
.add-catagory-btn{
    border: none;
    padding: 0.5em;
    border-radius: 0.3em;
    background-color:#199aa9;
    color: white;
}
.add-catogory-incom-form{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin-top: 1em;
    gap: 0.5em;
    border: 1px solid gray;
    padding:1.5em ;
    border-radius: 3px;
    height: 200px;

}
.add-catogory-incom-form button{
    border: none;
    padding: 0.5em;
    border-radius: 0.3em;
    background-color: #199aa9;
    color: white;
   
}
.add-catogory-incom-form input{
    padding:0.2em ;
    outline: none;
}
 
    
