.ho-hed{
    background-color: white;
    display: flex;
    padding: 2.5rem;
  

  
  
}
.ho-hed-btn{
    margin-right: 7em;
    display: flex;
    gap: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.ho-hed-btn button{
    border-color: #199aa9;
    background-color: white;
    padding: 1em;
    border-radius: 30px;
    color: #199aa9;
}