.w{
    display: flex;
}
.add-expans-form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: fit-content;
    padding: 1.5em;
    margin-top: 1em;
    border-radius: 3px;
    margin-left: 1em;
    width: 500px;
    margin-bottom: 1em;
    background-color: white;
}
.add-expans-form input{
    padding: 0.5em;
    outline: none;
    border: none;
     background-color: #c4eaee93;
    border-radius: 3px;

}
.add-expans-form select{
    border: none;
    padding: 0.5em;
    outline: none;
    background-color: #c4eaee93;
}
textarea{
    padding: 1.5em;
     border: none;
    background-color: #c4eaee93;
    border-radius: 3px;
}
label{
    margin-top: 1em;
}
.catagory-label{
    display: flex;
    justify-content: space-between;
}

.add-expans-form button{
      border: none;
    padding: 0.5em;
    border-radius: 0.3em;
    background-color:#199aa9;
    color: white;
} 
.forms-wraper{
   display: flex;
   gap: 1em;
}
.add-expans-catagory{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border: 1px solid gray;
    margin-top: 1em;
    border-radius: 3px;
    gap: 0.5em;
    height: fit-content;
}
.add-expans-catagory button{
    border: none;
    padding: 0.5em;
    border-radius: 0.3em;
    background-color: green;
    color: white;
}
.add-expans-catagory input{
     padding: 0.2em;
    outline: none;
}
.h2{
  display: flex;
  
}
.h2 h2{
   padding: 0.5em;
   margin-left: 50%;

   
}
.lin{
    color: white;
    text-decoration: none;
}
#redBorder{
 border: 1px solid red;
    
}