.budget-form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    box-shadow: 1px 1px 1px rgb(215, 214, 214) ;
    height: fit-content;
    padding: 1.5em;
    margin-top: 1em;
    border-radius: 3px;
    margin-left: 1em;
    width: 500px;
    background-color: white;
}
.budget-form input{
    background-color: rgba(223, 241, 229, 0.942);;
    padding: 0.9em;
    outline: none;
    border: none;
    border-radius: 3px;
}
.budget-form select{
    background-color: rgba(223, 241, 229, 0.942);;
    padding: 0.9em;
    min-width: 200px;
    outline: none;
    border: none;
    border-radius: 3px;
}
.budget-form label{
    margin-top: 1em;

}