.cards{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}
.card-body{
    margin-top: 1em;
    margin-left: 1em;
    width: 250px;
    height: 170px;
    background-color: white;
    padding: 1.5em;
    box-shadow: 0.5px 0.5px 1px;
    border-radius: 8px;
}
.card-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
    color:#199AA9 ;
    font-size: 20px;
}

.persant{
   width: 70px; 
   background-color: rgba(180, 235, 180, 0.536);
   padding: 2px;
   padding-left: 20px;
   border-radius: 30px;
   margin-top: 1em;
   color: #199AA9;
   font-weight: 500;
}
.negativ{
   width: 70px; 
   background-color: rgba(243, 166, 145, 0.536);
   padding: 5px;
   padding-left: 10px;
   border-radius: 30px;
   margin-top: 1em;
   color: red;
   font-weight: 500;
}
.amound{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.cards-dis{
    display: flex;
    flex-wrap: wrap;
}
.chart-wraper{
    width: 1000px;
    margin-top: 2em;
    margin-left: 1em;
    
}
.sub-wraper1{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
   
}

.chart-f {
    width:330px;
    max-width: 100vw;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    padding: 0.5em;
}
.chart-s {
    width: 330px;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    padding: 0.5em;
}
.donet-chart{
     width: 330px;
    height: 200px;
    background-color: white;
    border-radius: 8px;
    padding: 0.5em;
}

.budjet-chart{

    width: clamp(250px,100vw,fit-content);
    height: 250px;
    background-color: white;
    margin-top: 1em;
    border-radius: 8px;
    padding: 0.5em;
}

@media(max-width:650px){
    .cards-dis{
       display: grid;
       
      
    }
    .chart-f{
        width: 300px;
    }
    .sub-wraper1{
       display: grid;
    }
  
    .chart-s{
        width: 300px;
    }
    .donet-chart{
        width: 300px;
    }
    .budjet-chart{
        width: 300px;

    }


    
    
    
}