.sub-wraper{
    display: flex;
    gap: 10px;
}
.page-hed{
    margin-top: 1em;
    margin-bottom: 0.2em;
    color: gray;
}
.serch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8em;
}
.serch input{
    border: none;
    background-color: #c4eaee93; 
    padding: 0.5em;
    border-radius: 3px;
}
.sum-hed{
    margin-top: 1em;
    color: rgba(128, 128, 128, 0.81);
}